.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);

    &:focus-within footer {
        visibility: visible;
        max-height: 20rem;
    }

    strong {
        color: var(--gray-100);
        display: block;
        margin-bottom: 1rem;
    }

    textarea {
        width: 100%;
        height: 6rem;
        border-radius: 8px;
        border: 0;
        padding: 1rem;
        background-color: var(--gray-900);
        color: var(--gray-300);
        line-height: 1.4;
        resize: none;
        margin-top: 1rem;
    }

    footer {
        visibility: hidden;
        max-height: 0;

        transition: visibility 0.08s, max-height 0.15s;

        button {
            margin-top: 1rem;
            background: var(--green-500);
            padding: 0.75rem 1.5rem;
            border-radius: 8px;
            cursor: pointer;
            border: 0;

            font-weight: bold;
            color: var(--white);

            transition: background-color 0.15s;

            &:hover {
                background: var(--green-300);
            }
        }
    }
}